
.how-it-works {
    background-image: url(../images/city.png), url(../images/pattern.png);
    background-repeat: repeat-x, repeat;
    background-position: bottom, center;
    padding: 90px 0;
    position: relative;
}



.how-it-works .text-xs-center>h2 {
    color: #d8bea5;
    margin-bottom: 50px;
}

.how-it-works-wrap h2 {
    margin-bottom: 10px;
    font-size: 21px;
}

.how-it-works-wrap>p {
    font-weight: 300;
}

.how-it-works-steps {
    position: relative;
    padding: 0 2.1rem;
}

.how-it-works .how-middle {
    margin-top: 70px;
}

.how-it-works p.pay-info {
    font-size: 16px;
    color: #d8bea5;
    margin-top: 25px;
    text-align: center;
}

.how-it-works h3 {
    color: #fff
}


/*-----------------------------------  
Steps
-----------------------------------*/

.how-it-works p {
    color: #9c9da5;
}
.how-it-works .step-2 {
    padding-top: 20%
}
.how-it-works-solution {
    margin-bottom: 26px;
}
.how-it-works-links {
    margin-bottom: 70px;
}